<div *ngIf="converterService.converterOptions">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Options
        </mat-panel-title>
        <mat-panel-description>
          Configure the output
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="converterService.converterOptions.titlePropertyName"
          (keyup)="convertJsonModel()"
          placeholder="Title Property Name"
        />
      </mat-form-field>

      <mat-list>
        <mat-list-item
          role="listitem"
          *ngFor="
            let x of converterService.converterOptions.whiteList;
            let i = index
          "
        >
          {{ converterService.converterOptions.whiteList[i] }}
          <button mat-button color="accent">
            <mat-icon
              color="accent"
              aria-hidden="false"
              aria-label="Remove Item"
              (click)="
                removeFromList(i, converterService.converterOptions.whiteList)
              "
              >remove_circle</mat-icon
            >
          </button></mat-list-item
        >
      </mat-list>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="currentWhitelist"
          (keyup.enter)="
            addToList(
              currentWhitelist,
              converterService.converterOptions.whiteList
            )
          "
          placeholder="White List"
        />
      </mat-form-field>

      <mat-list>
        <mat-list-item
          role="listitem"
          *ngFor="
            let x of converterService.converterOptions.blackList;
            let i = index
          "
        >
          {{ converterService.converterOptions.blackList[i] }}
          <button mat-button color="accent">
            <mat-icon
              color="accent"
              aria-hidden="false"
              aria-label="Remove Item"
              (click)="
                removeFromList(i, converterService.converterOptions.whiteList)
              "
              >remove_circle</mat-icon
            >
          </button>
        </mat-list-item>
      </mat-list>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="currentBlacklist"
          (keyup.enter)="
            addToList(
              currentBlacklist,
              converterService.converterOptions.blackList
            )
          "
          placeholder="Black List"
        />
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div
  id="csv-output-container"
  *ngIf="converterService.convertedTable && converterService.matTables.length > 0"
>
  <div *ngFor="let matTableTuple of converterService.matTables">
    <h2>{{ matTableTuple.title }}</h2>
    <mat-table
      #table
      [dataSource]="matTableTuple.matTable"
      class="mat-elevation-z8"
      style="max-height: 50vh; overflow: auto;"
    >
      <ng-container
        *ngFor="
          let disCol of matTableTuple.convertedtTable.columnNames;
          let colIndex = index
        "
        matColumnDef="{{ disCol }}"
      >
        <mat-header-cell *matHeaderCellDef>{{ disCol }}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element[disCol] }}
        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="matTableTuple.convertedtTable.columnNames"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: matTableTuple.convertedtTable.columnNames"
      ></mat-row>
    </mat-table>
  </div>

  <button
    style="margin-top: 15px;margin-left: 15px;float: right;"
    mat-raised-button
    color="accent"
    (click)="downloadFile()"
    title="Download CSV"
  >
    <mat-icon aria-hidden="false" aria-label="Download File"
      >cloud_download</mat-icon
    >
  </button>
</div>

<button
  *ngIf="jsonService.jsonObject && converterService.matTables.length < 1"
  style="margin-top: 15px; float: right;"
  mat-raised-button
  color="accent"
  (click)="convertJsonModel()"
  title="Preview"
>
  preview
</button>
