<div *ngIf="converterService.converterOptions">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Options
        </mat-panel-title>
        <mat-panel-description>
          Configure the output
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="converterService.converterOptions.titlePropertyName"
          (keyup)="convertJsonModel()"
          placeholder="Title Property Name"
        />
      </mat-form-field>

      <mat-form-field *ngIf="converterService.convertedTable">
        <mat-label>Whitelisted properties</mat-label>
        <mat-select [formControl]="whitelist" multiple>
          <mat-option
            *ngFor="let propName of converterService.propNames"
            [value]="propName"
          >
            {{ propName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="converterService.convertedTable">
          <mat-label>Blacklisted properties</mat-label>
          <mat-select [formControl]="blacklist" multiple>
            <mat-option
              *ngFor="let propName of converterService.propNames"
              [value]="propName"
            >
              {{ propName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<button
  *ngIf="jsonService.jsonObject"
  style="margin-top: 15px; float: right;"
  mat-raised-button
  color="accent"
  (click)="convertJsonModel()"
  title="Preview"
>
  preview
</button>

<div
  id="csv-output-container"
  *ngIf="
    converterService.convertedTable && converterService.matTables.length > 0
  "
>
  <div *ngFor="let matTableTuple of converterService.matTables">
    <h2>{{ matTableTuple.title }}</h2>
    <mat-table
      #table
      [dataSource]="matTableTuple.matTable"
      class="mat-elevation-z8"
      style="max-height: 50vh; overflow: auto;"
    >
      <ng-container
        *ngFor="
          let disCol of matTableTuple.convertedtTable.columnNames;
          let colIndex = index
        "
        matColumnDef="{{ disCol }}"
      >
        <mat-header-cell *matHeaderCellDef>{{ disCol }}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element[disCol] }}
        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="matTableTuple.convertedtTable.columnNames"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: matTableTuple.convertedtTable.columnNames"
      ></mat-row>
    </mat-table>
  </div>

  <button
    style="margin-top: 15px;margin-left: 15px;float: right;"
    mat-raised-button
    color="accent"
    (click)="downloadFile()"
    title="Download CSV"
  >
    <mat-icon aria-hidden="false" aria-label="Download File"
      >cloud_download</mat-icon
    >
  </button>
</div>
