<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>JSON to CSV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <div class="container">
        <div id="app">
            <div class="row">
                <h1 class="header">JSON to CSV</h1>
                <h3>{{message}}</h3>
            </div>

            <div class="row">
                <div class="col s6">
                    <textarea placeholder="Input Json here" id="input-json" v-model="inputJson"></textarea>
                </div>

                <div class="col s6">
                    <textarea>{{csv}}</textarea>
                </div>

                <div class="col s12">
                    <button class="btn" @click="jsonToCsv()">
                        <i class="material-icons right">arrow_forward</i>Convert
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script src="js/main.js"></script>
</body>

</html>