<mat-toolbar color="primary">
  <h1 style="font-family: 'Nunito', sans-serif;" [innerText]="'{csv}'"></h1>
</mat-toolbar>

<!-- <div id="loading" *ngIf="loading">
  <mat-progress-spinner [mode]="'indeterminate'"> </mat-progress-spinner>
</div> -->

<mat-horizontal-stepper>
  <mat-step>
    <ng-template matStepLabel>Enter JSON</ng-template>
    <app-input-json-section (jsonChangedEvent)="handleJsonChangedEvent()"></app-input-json-section>

    <div>
      <button mat-raised-button color="primary" matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Output</ng-template>
      <app-output-section></app-output-section>
    <div>
      <button mat-raised-button color="primary" matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
